<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>button_big.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>167</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>button_small.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>menu.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>480</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>pause_button.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>