<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>button_big.png</key>
		<dict>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>334</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>334</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>button_small.png</key>
		<dict>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>menu.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>960</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>960</integer>
		</dict>
		<key>pause_button.png</key>
		<dict>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>