<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1266},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1112},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1240},{122,50}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,74},{122,50}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1443},{122,68}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,56},{122,68}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,914},{122,86}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{122,86}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1448},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,774},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,596},{122,114}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{122,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1232},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1538},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1597},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1598},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1435},{122,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1413},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1225},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1074},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1120},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1332},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1308},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1391},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1553},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1092},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,350},{122,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1277},{122,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1383},{122,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1639},{122,94}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{122,94}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1587},{122,78}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{122,78}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,871},{122,60}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,64},{122,60}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,774},{122,42}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{122,42}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1309},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>a0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1143},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1143},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,989},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1538},{122,46}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,78},{122,46}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,748},{122,62}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,62},{122,62}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1798},{122,80}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{122,80}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1635},{122,96}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{122,96}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1053},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1009},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1286},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1699},{122,98}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{122,98}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1654},{122,98}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{122,98}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1518},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1332},{122,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1181},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1118},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1341},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1495},{122,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1437},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1619},{122,98}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{122,98}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1654},{122,98}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{122,98}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1037},{122,92}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{122,92}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1496},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,904},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1160},{122,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,102}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1538},{122,96}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{122,96}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1718},{122,90}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{122,90}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1879},{122,72}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{122,72}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1117},{122,54}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,70},{122,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,897},{122,36}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,88},{122,36}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1186},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>b0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1143},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>buttonA.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{165,165}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{165,165}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>buttonB.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,625},{165,165}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{165,165}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>buttonC.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,700},{165,165}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{165,165}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,625},{333,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,148}}</string>
                <key>sourceSize</key>
                <string>{333,148}</string>
            </dict>
            <key>button_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,625},{165,165}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{165,165}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,625},{168,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,74}}</string>
                <key>sourceSize</key>
                <string>{168,74}</string>
            </dict>
            <key>c0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1020},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,866},{122,38}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,86},{122,38}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,994},{122,54}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,70},{122,54}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1879},{122,72}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{122,72}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,791},{122,88}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,36},{122,88}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1227},{122,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{122,104}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,842},{122,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,227},{122,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1201},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1013},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,965},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,900},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1121},{122,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1166},{122,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1010},{122,110}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,110}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,979},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,897},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,866},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,791},{122,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{122,112}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1388},{122,106}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,473},{122,114}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{122,114}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,719},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,104},{122,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,791},{122,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{122,108}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1486},{122,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{122,100}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1753},{122,82}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,42},{122,82}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,625},{122,64}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,60},{122,64}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1566},{122,48}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,76},{122,48}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1063},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>c0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,940},{122,34}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,90},{122,34}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1363},{50,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,79}}</string>
                <key>sourceSize</key>
                <string>{50,79}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{902,624}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{902,624}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1666},{94,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,0},{121,103}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{121,103}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>skin_mole.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1283},{99,107}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{99,107}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moles-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f820449d669de7821b7a9acebb3150fe$</string>
            <key>textureFileName</key>
            <string>moles-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
