<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,794},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,749},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,814},{62,26}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,666},{62,34}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,917},{62,44}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,661},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,396},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,252},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,691},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,763},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,844},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,805},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,608},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,608},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,683},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,669},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,628},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,830},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,805},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,777},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,754},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,646},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,189},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,612},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,791},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,809},{62,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,451},{62,40}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,313},{62,30}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,560},{62,22}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,731},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>a0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,686},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,686},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,668},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,839},{62,24}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,792},{62,32}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,388},{62,40}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,760},{62,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,516},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,591},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,738},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,709},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,712},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,701},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,656},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,601},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,546},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,555},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,661},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,565},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,856},{62,46}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,502},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,500},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,555},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,765},{62,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,883},{62,46}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,603},{62,36}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,857},{62,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,623},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,605},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>b0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,686},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>buttonA.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,396},{82,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>buttonB.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,313},{82,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>buttonC.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,351},{82,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>button_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{167,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,74}}</string>
                <key>sourceSize</key>
                <string>{167,74}</string>
            </dict>
            <key>button_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,313},{82,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,313},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>c0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,542},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,434},{62,20}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,376},{62,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,540},{62,36}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,895},{62,44}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,724},{62,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,378},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,126},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,479},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,573},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,536},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,491},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,434},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,388},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,555},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,498},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,441},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,459},{62,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,445},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,63},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,315},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{62,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,439},{62,50}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{62,42}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,729},{62,32}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{62,24}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,497},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>c0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,479},{62,18}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{62,18}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,514},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,312}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{450,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,868},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>skin_jetpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,628},{62,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>skin_mole.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,754},{50,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{50,54}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moles.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9b9bd39c65a6576cff840932cb6e82$</string>
            <key>textureFileName</key>
            <string>moles.pvr.ccz</string>
        </dict>
    </dict>
</plist>
